*.*~
*.directory
*.db
*.DS_Store
*.box
*.cer
*.log
*.pem
*.p12
*.pyc
*.sql
*.sqlite3
*.xls
htmlcov/

__pycache__

*.egg*
/.cache
/.coverage
/.pytest_cache
/.tox

/build
/coverage.xml
/dist
/docs/_build
/site

.venv/
.python-version
