include LICENSE
include README.rst
recursive-include polls/static *
recursive-include polls/templates *

include LICENSE
include MANIFEST.in
include README.rst
recursive-include graphql_auth/templates *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
